<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
</head>
<body>
    <h1>Admin Interface</h1>
    <h2>Add companies & Emails</h2>
    <form action="#" th:action="@{/api/group9/addcompany}" method="post">
        <input type="text" name="companyName" placeholder="Company Name" required/>
        
        <button type="submit">Add Company</button>
    </form>
    <form action="#" th:action="@{/api/group9/addemail}" method="post">
        <input type="text" name="email" placeholder="Email" required/>
        <input type="text" name="companyId" placeholder="Company ID" required/>
        <select name="role">
            <option value="WORKER">Worker</option>
            <option value="SUPERVISOR">Supervisor</option>
            <option value="MASTER">Master</option>
        </select>
        
        <button type="submit">Add Approved Email</button>
    </form>
    <form action="#" th:action="@{/api/group9/addboth}" method="post">
        <input type="text" name="companyName" placeholder="Company Name" required/>
        <input type="text" name="email" placeholder="Email" required/>
        <select name="role">
            <option value="WORKER">Worker</option>
            <option value="SUPERVISOR">Supervisor</option>
            <option value="MASTER">Master</option>
        </select>
        <button type="submit">Add & Pair</button>
    </form>
    


   <div>
    <h2>Companies</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="company : ${companies}">
                <td th:text="${company.id}"></td>
                <td th:text="${company.companyName}"></td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h2>Approved Emails</h2>
    <table>
        <thead>
            <tr>
                <th>Company ID</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="email : ${approvedEmails}">
                <td th:text="${email.company.id}"></td>
                <td th:text="${email.email}"></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>
